* {
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.logo {
  width: 10rem;
  margin-left: 10px;
}

.menu > ul {
  display: flex;
  justify-content: center;
}
.menu li {
  margin: 0.5rem;
}
.cartContainer {
  padding: 1rem;
}

.itemListContainer {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  gap: 10px;
}

.itemCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.itemCountContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.itemCount {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.itemCount h4 {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}
.buttonItemCount {
  background-color: #f63e3d;
  color: black;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  cursor: pointer;
}

.disabledButton {
  background-color: #ffc8c8;
  text: #bf1716;
  cursor: not-allowed;
}

.buttonItemCount :hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #e3201f;
}

.buttonAddCart {
  background-color: white;
  color: #bf1716;
  border: 2px solid #bf1716;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.buttonAddCart :hover {
  background-color: #ffc8c8;
  color: #bf1716;
  border: 2px solid #bf1716;
}
